abhilasha-mab.ipynb
report/main.toc
report/main.synctex.gz
report/main.run.xml
report/main.out
report/main.log
report/main.ind
report/main.ilg
report/main.idx
report/main.fls
report/main.fdb_latexmk
report/main.blg
report/main.bcf
report/main.bbl
report/main.aux
.ipynb_checkpoints/abhilasha-mab-checkpoint.ipynb
